In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [2]:
credit = pd.read_csv('Datasets/train.csv')

In [3]:
credit.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,26.822620,265.0,No,49.574949,21.46538,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,266.0,No,49.574949,21.46538,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,28.609352,267.0,No,49.574949,21.46538,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,268.0,No,49.574949,21.46538,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,269.0,No,49.574949,21.46538,High_spent_Medium_value_payments,341.489231,Good

In [4]:
credit.drop(columns = ['ID','Customer_ID','Name','SSN'], inplace = True)

In [4]:
def explore_data(df):
    print("########## Shape ##########")
    print(df.shape)
    print("########## IsNa ##########")
    print(df.isna().sum())
    print("########## Types ##########")
    print(df.dtypes)
    print("########## Describe of Numeric Columns ##########")
    print(df.describe().T)
    print("########## Info ###########")
    print(df.info())

In [5]:
explore_data(credit)

########## Shape ##########
(100000, 28)
########## IsNa ##########
ID                          0
Customer_ID                 0
Month                       0
Name                        0
Age                         0
SSN                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
Credit_Score                0
dtype: int64
########## Types ##########
ID                            int64
Customer_ID                   int64
Month                         int64
Name                         object
Age                         float64
SSN                         float64
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts           float64
Num_Credit_Card             float64
Interest_Rate               float64
Num_of_Loan                 float64
Type_of_Loan                 object
Delay_from_due_date         float64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Credit_History_Age          float64
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object
########## Describe of Numeric Columns ##########
                             count          mean           std           min  \
ID                        100000.0  8.063150e+04  4.330149e+04   5634.000000
Customer_ID               100000.0  2.598267e+04  1.434054e+04   1006.000000
Month                     100000.0  4.500000e+00  2.291299e+00      1.000000
Age                       100000.0  3.331634e+01  1.076481e+01     14.000000
SSN                       100000.0  5.004617e+08  2.908267e+08  81349.000000
Annual_Income             100000.0  5.050512e+04  3.829942e+04   7005.930000
Monthly_Inhand_Salary     100000.0  4.197271e+03  3.186432e+03    303.645417
Num_Bank_Accounts         100000.0  5.368820e+00  2.593314e+00      0.000000
Num_Credit_Card           100000.0  5.533570e+00  2.067098e+00      0.000000
Interest_Rate             100000.0  1.453208e+01  8.741330e+00      1.000000
Num_of_Loan               100000.0  3.532880e+00  2.446356e+00      0.000000
Delay_from_due_date       100000.0  2.108141e+01  1.480456e+01      0.000000
Num_of_Delayed_Payment    100000.0  1.331312e+01  6.237166e+00      0.000000
Changed_Credit_Limit      100000.0  1.047032e+01  6.609481e+00      0.500000
Num_Credit_Inquiries      100000.0  5.798250e+00  3.867826e+00      0.000000
Outstanding_Debt          100000.0  1.426220e+03  1.155129e+03      0.230000
Credit_Utilization_Ratio  100000.0  3.228517e+01  5.116875e+00     20.000000
Credit_History_Age        100000.0  2.212205e+02  9.968072e+01      1.000000
Total_EMI_per_month       100000.0  1.076992e+02  1.322671e+02      0.000000
Amount_invested_monthly   100000.0  5.510131e+01  3.900693e+01      0.000000
Monthly_Balance           100000.0  3.926976e+02  2.016527e+02      0.007760

                                   25%           50%           75%  \
ID                        4.313275e+04  8.063150e+04  1.181302e+05
Customer_ID               1.366450e+04  2.577700e+04  3.838500e+04
Month                     2.750000e+00  4.500000e+00  6.250000e+00
Age                       2.400000e+01  3.300000e+01  4.200000e+01
SSN                       2.451686e+08  5.006886e+08  7.560027e+08
Annual_Income             1.934297e+04  3.699971e+04  7.168347e+04
Monthly_Inhand_Salary     1.626594e+03  3.095905e+03  5.957715e+03
Num_Bank_Accounts         3.000000e+00  5.000000e+00  7.000000e+00
Num_Credit_Card           4.000000e+00  5.000000e+00  7.000000e+00
Interest_Rate             7.000000e+00  1.300000e+01  2.000000e+01
Num_of_Loan               2.000000e+00  3.000000e+00  5.000000e+00
Delay_from_due_date       1.000000e+01  1.800000e+01  2.800000e+01
Num_of_Delayed_Payment    9.000000e+00  1.400000e+01  1.800000e+01
Changed_Credit_Limit      5.380000e+00  9.400000e+00  1.485000e+01
Num_Credit_Inquiries      3.000000e+00  5.000000e+00  8.000000e+00
Outstanding_Debt          5.660725e+02  1.166155e+03  1.945963e+03
Credit_Utilization_Ratio  2.805257e+01  3.230578e+01  3.649666e+01
Credit_History_Age        1.440000e+02  2.190000e+02  3.020000e+02
Total_EMI_per_month       2.926889e+01  6.646230e+01  1.473926e+02
Amount_invested_monthly   2.795911e+01  4.515655e+01  7.129580e+01
Monthly_Balance           2.676160e+02  3.338654e+02  4.632157e+02

                                   max
ID                        1.556290e+05
Customer_ID               5.099900e+04
Month                     8.000000e+00
Age                       5.600000e+01
SSN                       9.999934e+08
Annual_Income             1.799873e+05
Monthly_Inhand_Salary     1.520463e+04
Num_Bank_Accounts         1.100000e+01
Num_Credit_Card           1.100000e+01
Interest_Rate             3.400000e+01
Num_of_Loan               9.000000e+00
Delay_from_due_date       6.200000e+01
Num_of_Delayed_Payment    2.500000e+01
Changed_Credit_Limit      2.998000e+01
Num_Credit_Inquiries      1.700000e+01
Outstanding_Debt          4.998070e+03
Credit_Utilization_Ratio  5.000000e+01
Credit_History_Age        4.040000e+02
Total_EMI_per_month       1.779103e+03
Amount_invested_monthly   4.341911e+02
Monthly_Balance           1.183931e+03
########## Info ###########
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  int64
 1   Customer_ID               100000 non-null  int64
 2   Month                     100000 non-null  int64
 3   Name                      100000 non-null  object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  float64
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  float64
 8   Monthly_Inhand_Salary     100000 non-null  float64
 9   Num_Bank_Accounts         100000 non-null  float64
 10  Num_Credit_Card           100000 non-null  float64
 11  Interest_Rate             100000 non-null  float64
 12  Num_of_Loan               100000 non-null  float64
 13  Type_of_Loan              100000 non-null  object
 14  Delay_from_due_date       100000 non-null  float64
 15  Num_of_Delayed_Payment    100000 non-null  float64
 16  Changed_Credit_Limit      100000 non-null  float64
 17  Num_Credit_Inquiries      100000 non-null  float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        100000 non-null  float64
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   100000 non-null  float64
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           100000 non-null  float64
 27  Credit_Score              100000 non-null  object
dtypes: float64(18), int64(3), object(7)
memory usage: 21.4+ MB
None

In [6]:
def grab_col_names(df, cat_th=10, num_th=20):
    cat = [col for col in df.columns if df[col].dtypes == 'O']
    num_but_cat = [col for col in df.columns if df[col].dtypes != 'O'
                  and df[col].nunique() < cat_th]
    cat_but_num = [col for col in df.columns if df[col].dtypes == 'O'
                  and df[col].nunique() > num_th]
    cat = cat + num_but_cat
    cat = [col for col in cat if col not in cat_but_num]
    num = [col for col in df.columns if df[col].dtypes != 'O']
    num = [col for col in num if col not in num_but_cat]
    return cat, cat_but_num, num

In [7]:
cat_cols, cat_but_num, num_cols = grab_col_names(credit)

In [8]:
cat_cols

['Occupation',
 'Credit_Mix',
 'Payment_of_Min_Amount',
 'Payment_Behaviour',
 'Credit_Score',
 'Month']

In [9]:
cat_but_num

['Name', 'Type_of_Loan']

In [11]:
credit = credit.drop(columns=cat_but_num, axis = 1)

In [10]:
num_cols

['ID',
 'Customer_ID',
 'Age',
 'SSN',
 'Annual_Income',
 'Monthly_Inhand_Salary',
 'Num_Bank_Accounts',
 'Num_Credit_Card',
 'Interest_Rate',
 'Num_of_Loan',
 'Delay_from_due_date',
 'Num_of_Delayed_Payment',
 'Changed_Credit_Limit',
 'Num_Credit_Inquiries',
 'Outstanding_Debt',
 'Credit_Utilization_Ratio',
 'Credit_History_Age',
 'Total_EMI_per_month',
 'Amount_invested_monthly',
 'Monthly_Balance']

In [13]:
credit = credit.drop(columns=['ID', 'Customer_ID','SSN'])

In [14]:
credit.groupby('Occupation').size()

Occupation
Accountant       6744
Architect        6824
Developer        6720
Doctor           6568
Engineer         6864
Entrepreneur     6648
Journalist       6536
Lawyer           7096
Manager          6432
Mechanic         6776
Media_Manager    6720
Musician         6352
Scientist        6744
Teacher          6672
Writer           6304
dtype: int64

In [15]:
label_encoder = LabelEncoder()
category1 = credit['Credit_Mix']
numeric_values = label_encoder.fit_transform(category1)

In [16]:
credit['Credit_Mix'] = numeric_values

In [17]:
label_encoder = LabelEncoder()
category2 = credit['Payment_of_Min_Amount']
numeric_values = label_encoder.fit_transform(category2)

In [18]:
credit['Payment_of_Min_Amount'] = numeric_values

In [19]:
label_encoder = LabelEncoder()
category2 = credit['Payment_Behaviour']
numeric_values = label_encoder.fit_transform(category2)

In [20]:
credit['Payment_Behaviour'] = numeric_values

In [21]:
label_encoder = LabelEncoder()
category3 = credit['Credit_Score']
numeric_values = label_encoder.fit_transform(category3)

In [22]:
credit['Credit_Score'] = numeric_values

In [23]:
credit

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,1,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,...,1,809.98,26.822620,265.0,1,49.574949,21.465380,2,312.494089,0
1,2,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,...,1,809.98,31.944960,266.0,1,49.574949,21.465380,3,284.629162,0
2,3,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,...,1,809.98,28.609352,267.0,1,49.574949,21.465380,4,331.209863,0
3,4,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,5.0,...,1,809.98,31.377862,268.0,1,49.574949,21.465380,5,223.451310,0
4,5,23.0,Scientist,19114.12,1824.843333,3.0,4.0,3.0,4.0,6.0,...,1,809.98,24.797347,269.0,1,49.574949,21.465380,1,341.489231,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,23.0,...,1,502.38,34.663572,378.0,1,35.104023,24.028477,0,479.866228,1
99996,5,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,18.0,...,1,502.38,40.565631,379.0,1,35.104023,24.028477,1,496.651610,1
99997,6,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,27.0,...,1,502.38,41.255522,380.0,1,35.104023,24.028477,0,516.809083,1
99998,7,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,20.0,...,1,502.38,33.638208,381.0,1,35.104023,24.028477,3,319.164979,2
99999,8,25.0,Mechanic,39628.99,3359.415833,4.0,6.0,7.0,2.0,18.0,...,1,502.38,34.192463,382.0,1,35.104023,24.028477,1,393.673696,1

In [24]:
credit.drop('Occupation', axis = 1, inplace = True)

In [25]:
credit

,Month,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,1,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,...,1,809.98,26.822620,265.0,1,49.574949,21.465380,2,312.494089,0
1,2,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,4.0,...,1,809.98,31.944960,266.0,1,49.574949,21.465380,3,284.629162,0
2,3,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,...,1,809.98,28.609352,267.0,1,49.574949,21.465380,4,331.209863,0
3,4,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,...,1,809.98,31.377862,268.0,1,49.574949,21.465380,5,223.451310,0
4,5,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,...,1,809.98,24.797347,269.0,1,49.574949,21.465380,1,341.489231,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,23.0,7.0,...,1,502.38,34.663572,378.0,1,35.104023,24.028477,0,479.866228,1
99996,5,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,18.0,7.0,...,1,502.38,40.565631,379.0,1,35.104023,24.028477,1,496.651610,1
99997,6,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,27.0,6.0,...,1,502.38,41.255522,380.0,1,35.104023,24.028477,0,516.809083,1
99998,7,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,20.0,6.0,...,1,502.38,33.638208,381.0,1,35.104023,24.028477,3,319.164979,2
99999,8,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,18.0,6.0,...,1,502.38,34.192463,382.0,1,35.104023,24.028477,1,393.673696,1

In [26]:
y = credit['Credit_Score'].values

In [27]:
y

array([0, 0, 0, ..., 1, 2, 1])

In [28]:
X = credit.drop(columns = ['Credit_Score'], axis = 1)

In [30]:
credit

,Month,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,1,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,...,1,809.98,26.822620,265.0,1,49.574949,21.465380,2,312.494089,0
1,2,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,4.0,...,1,809.98,31.944960,266.0,1,49.574949,21.465380,3,284.629162,0
2,3,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,3.0,7.0,...,1,809.98,28.609352,267.0,1,49.574949,21.465380,4,331.209863,0
3,4,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,5.0,4.0,...,1,809.98,31.377862,268.0,1,49.574949,21.465380,5,223.451310,0
4,5,23.0,19114.12,1824.843333,3.0,4.0,3.0,4.0,6.0,4.0,...,1,809.98,24.797347,269.0,1,49.574949,21.465380,1,341.489231,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,4,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,23.0,7.0,...,1,502.38,34.663572,378.0,1,35.104023,24.028477,0,479.866228,1
99996,5,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,18.0,7.0,...,1,502.38,40.565631,379.0,1,35.104023,24.028477,1,496.651610,1
99997,6,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,27.0,6.0,...,1,502.38,41.255522,380.0,1,35.104023,24.028477,0,516.809083,1
99998,7,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,20.0,6.0,...,1,502.38,33.638208,381.0,1,35.104023,24.028477,3,319.164979,2
99999,8,25.0,39628.99,3359.415833,4.0,6.0,7.0,2.0,18.0,6.0,...,1,502.38,34.192463,382.0,1,35.104023,24.028477,1,393.673696,1

In [31]:
sd = StandardScaler()
sd.fit(X)

StandardScaler()

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [33]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [34]:
training_prediction = knn.predict(X_train)
test_prediction = knn.predict(X_test)

In [35]:
y_test

array([0, 1, 0, ..., 1, 1, 2])

In [36]:
from sklearn import metrics
print("Precision, Recall, Confusion matrix, in training\n")

# Precision Recall scores
print(metrics.classification_report(y_train, training_prediction, digits=3))

# Confusion matrix
print(metrics.confusion_matrix(y_train, training_prediction))

Precision, Recall, Confusion matrix, in training

              precision    recall  f1-score   support

           0      0.837     0.874     0.855     13406
           1      0.860     0.906     0.882     21685
           2      0.905     0.865     0.885     39909

    accuracy                          0.879     75000
   macro avg      0.867     0.882     0.874     75000
weighted avg      0.880     0.879     0.879     75000

[[11713    28  1665]
 [   83 19652  1950]
 [ 2198  3181 34530]]

In [37]:
print("Precision, Recall, Confusion matrix, in testing\n")

# Precision Recall scores
print(metrics.classification_report(y_test, test_prediction, digits=3))

# Confusion matrix
print(metrics.confusion_matrix(y_test, test_prediction))

Precision, Recall, Confusion matrix, in testing

              precision    recall  f1-score   support

           0      0.695     0.732     0.713      4422
           1      0.773     0.800     0.787      7313
           2      0.803     0.773     0.787     13265

    accuracy                          0.774     25000
   macro avg      0.757     0.769     0.762     25000
weighted avg      0.775     0.774     0.774     25000

[[ 3239    37  1146]
 [   87  5852  1374]
 [ 1335  1678 10252]]